<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pet Adoption</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-content class="ion-padding">
  <h4>Welcome Back,</h4>
</ion-content>

<ion-card class="background-card">
  <ion-card-content>
    <ion-img class="inner-image" src="https://ionicframework.com/docs/img/demos/card-media.png"></ion-img>
    <ion-card-title>Josh Warren</ion-card-title>
    <ion-card-subtitle>&#64;joshwarren</ion-card-subtitle>
    <div class="button-group">
    <ion-button fill="outline">Following</ion-button>
    <ion-button fill="outline">Connected</ion-button>
    <ion-button fill="outline">Message</ion-button>
  </div>
  </ion-card-content>
</ion-card>

<ion-list>
  <ion-item>
    <ion-label>Activities</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Profile</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Connections</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Groups</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Photos</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Forums</ion-label>
  </ion-item>
</ion-list>
