<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Notifications
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pet Adoption</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-content class="ion-padding">
  <h4>Connect with People.</h4>
</ion-content>

<ion-searchbar showCancelButton="focus" class="custom"></ion-searchbar>

<ion-segment (ionChange)="segmentChanged($event)">
  <ion-segment-button value="segment1">
    <ion-label>Unread</ion-label>
  </ion-segment-button>
  <ion-segment-button value="segment2">
    <ion-label>Read</ion-label>
  </ion-segment-button>
</ion-segment>

<div class="text">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Trent Walton commented on a post</ion-card-title>
      <!-- <ion-card-subtitle>Commented on a post</ion-card-subtitle> -->
    </ion-card-header>
  
    <ion-card-content>
      1 day ago
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Kate Paisley likes one of your post</ion-card-title>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    </ion-card-header>
  
    <ion-card-content>
      2 days ago
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Filip Justic replied to one of your comments</ion-card-title>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    </ion-card-header>
  
    <ion-card-content>
      2 days ago
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Jeffrey Archer accepted your request to connect</ion-card-title>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    </ion-card-header>
  
    <ion-card-content>
      2 days ago
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Elise Scarlet sent you a new private message</ion-card-title>
      <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
    </ion-card-header>
  
    <ion-card-content>
      3 days ago
    </ion-card-content>
  </ion-card>
</div>